# Definimos el nombre de esta acci贸n para identificar su prop贸sito f谩cilmente
name: Docker Image CI

# Especificamos que esta acci贸n solo se ejecutar谩 cuando:
# - Se realicen cambios (push) en la rama 'main'
# - Se abra un pull request hacia la rama 'main'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# Definimos los trabajos (jobs), que contienen pasos espec铆ficos a realizar
jobs:

  build:
    # Indicamos que el trabajo se ejecutar谩 en un entorno basado en la 煤ltima versi贸n de Ubuntu
    runs-on: ubuntu-latest
    
    # Definimos los pasos para este trabajo
    steps:
      # Paso 1: Descargamos el contenido completo del repositorio (checkout) para trabajar con el c贸digo fuente
      - name: Checkout
        uses: actions/checkout@v2

      # Notificaci贸n de fallo
      - name: Notificar fallo en Checkout
        if: failure()
        run: echo "Checkout ha fallado "
        
      # Paso 2: Configuramos QEMU para permitir la construcci贸n de im谩genes multiplataforma
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all
          
      # Notificaci贸n de fallo
      - name: Notificar fallo en Set up QEMU
        if: failure()
        run: echo "Set up QEMU ha fallado "
          
      # Paso 3: Iniciamos sesi贸n en Docker Hub usando las credenciales almacenadas como secretos de github
      # Esto es necesario para subir la imagen construida al repositorio en Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      
      # Notificaci贸n de fallo
      - name: Notificar fallo en Login to Docker Hub
        if: failure()
        run: echo "Login to Docker Hub ha fallado "
      
      # Paso 4: Configuramos Docker Buildx, una herramienta que permite construir im谩genes multiplataforma
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      # Notificaci贸n de fallo
      - name: Notificar fallo en Set up Docker Buildx
        if: failure()
        run: echo "Set up Docker Buildx ha fallado "
        
      # Paso 5: Construimos y subimos la imagen al repositorio de Docker Hub
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          # - La imagen se construye a partir del Dockerfile y se soportan las plataformas 'linux/amd64' y 'linux/arm64'
          file: ./Dockerfile
          platforms: linux/amd64, linux/arm64
          push: true
          # - La imagen se etiqueta como 'latest' para indicar que es la 煤ltima versi贸n
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/laravel:latest
          
      # Notificaci贸n de fallo
      - name: Notificar fallo en Build and push
        if: failure()
        run: echo "Build and push ha fallado "

      # Notificaci贸n de 茅xito
      - name: Notificar 茅xito
        if: success()
        run: echo "隆La imagen Docker se construy贸 y subi贸 con 茅xito! "